In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline
import seaborn as sns
import numpy as np
# import tensorflow as tf
from sklearn import metrics   #Additional scklearn functions
from sklearn.model_selection import GridSearchCV 

# from keras.models import Sequential 
# from keras.layers import Dense 
# from keras.utils import np_utils
# from sklearn.preprocessing import LabelEncoder
# from keras.utils.np_utils import to_categorical
# from sklearn.utils import shuffle

In [0]:
df = pd.read_csv('/content/drive/My Drive/airplane/train.csv')
test = pd.read_csv('/content/drive/My Drive/airplane/test.csv')
sample = pd.read_csv('/content/drive/My Drive/airplane/sample_submission.csv')

In [0]:
df.head()

                                  Severity  ...  Accident_ID
0                Minor_Damage_And_Injuries  ...         7570
1                Minor_Damage_And_Injuries  ...        12128
2        Significant_Damage_And_Fatalities  ...         2181
3  Significant_Damage_And_Serious_Injuries  ...         5946
4        Significant_Damage_And_Fatalities  ...         9054

[5 rows x 12 columns]

In [0]:
df.Severity.value_counts()

Highly_Fatal_And_Damaging                  3049
Significant_Damage_And_Serious_Injuries    2729
Minor_Damage_And_Injuries                  2527
Significant_Damage_And_Fatalities          1695
Name: Severity, dtype: int64

In [0]:
df.Accident_Type_Code.value_counts()

4    2057
2    1791
3    1752
7    1276
6    1215
1    1171
5     738
Name: Accident_Type_Code, dtype: int64

In [0]:
df.isna().any()

Severity                   False
Safety_Score               False
Days_Since_Inspection      False
Total_Safety_Complaints    False
Control_Metric             False
Turbulence_In_gforces      False
Cabin_Temperature          False
Accident_Type_Code         False
Max_Elevation              False
Violations                 False
Adverse_Weather_Metric     False
Accident_ID                False
dtype: bool

In [0]:
target = df['Accident_ID']

In [0]:
df.drop(['Accident_ID'],inplace=True,axis=1)

In [0]:
accids=target

target = df['Severity']
df.drop(['Severity'],axis=1,inplace=True)

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
le = LabelEncoder()

In [0]:
target = le.fit_transform(target)

In [0]:
target

array([1, 1, 2, ..., 3, 1, 0])

In [0]:
df.head()

   Safety_Score  Days_Since_Inspection  ...  Violations  Adverse_Weather_Metric
0     49.223744                     14  ...           3                0.424352
1     62.465753                     10  ...           2                0.352350
2     63.059361                     13  ...           3                0.003364
3     48.082192                     11  ...           1                0.211728
4     26.484018                     13  ...           2                0.176883

[5 rows x 10 columns]

In [0]:
df.columns

Index(['Safety_Score', 'Days_Since_Inspection', 'Total_Safety_Complaints',
       'Control_Metric', 'Turbulence_In_gforces', 'Cabin_Temperature',
       'Accident_Type_Code', 'Max_Elevation', 'Violations',
       'Adverse_Weather_Metric'],
      dtype='object')

In [0]:

df.dtypes

Safety_Score               float64
Days_Since_Inspection        int64
Total_Safety_Complaints      int64
Control_Metric             float64
Turbulence_In_gforces      float64
Cabin_Temperature          float64
Accident_Type_Code           int64
Max_Elevation              float64
Violations                   int64
Adverse_Weather_Metric     float64
dtype: object

In [0]:
df['Severity'] = target
df.drop(['Severity'],axis=1,inplace=True)

In [0]:
df.head()

   Safety_Score  Days_Since_Inspection  ...  Violations  Adverse_Weather_Metric
0     49.223744                     14  ...           3                0.424352
1     62.465753                     10  ...           2                0.352350
2     63.059361                     13  ...           3                0.003364
3     48.082192                     11  ...           1                0.211728
4     26.484018                     13  ...           2                0.176883

[5 rows x 10 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [0]:
xtrain,xvalid,ytrain,yvalid = train_test_split(df,target,test_size=0.1
                                               ,shuffle=True,random_state=0)

In [0]:
# Gradient Boosting classifier

In [0]:
from sklearn.ensemble import GradientBoostingClassifier
gbk = GradientBoostingClassifier()
m1=gbk.fit(xtrain,ytrain)
p1 = m1.predict(xvalid)
print(accuracy_score(yvalid,p1,normalize=True))

0.869

In [0]:
import xgboost
from xgboost import XGBClassifier

In [0]:
xgb = xgboost.XGBClassifier(learning_rate=0.3,n_estimators=1250,
                            max_depth=5,objective='multi:softmax',
                            gamma=0)
m2 = xgb.fit(xtrain,ytrain)
p2 = m2.predict(xvalid)
print(accuracy_score(yvalid,p2,normalize=True))

0.963

In [0]:
p2 = pd.DataFrame(p2)

In [0]:
target = pd.DataFrame(target)
target[0].value_counts()

0    3049
3    2729
1    2527
2    1695
Name: 0, dtype: int64

In [0]:
mapdic = {0:'Highly_Fatal_And_Damaging',1:'Minor_Damage_And_Injuries',
          2:'Significant_Damage_And_Fatalities',
          3:'Significant_Damage_And_Serious_Injuries'}

In [0]:
p2f = p2[0].apply(lambda x : mapdic[x])

In [0]:
p2f = pd.DataFrame(p2f)

In [0]:
p2f.head()

                                         0
0                Highly_Fatal_And_Damaging
1  Significant_Damage_And_Serious_Injuries
2                Highly_Fatal_And_Damaging
3  Significant_Damage_And_Serious_Injuries
4                Highly_Fatal_And_Damaging

In [0]:
test.head()

   Safety_Score  Days_Since_Inspection  ...  Adverse_Weather_Metric  Accident_ID
0     19.497717                     16  ...                0.069692            1
1     58.173516                     15  ...                0.002777           10
2     33.287671                     15  ...                0.004316           14
3      3.287671                     21  ...                0.199990           17
4     10.867580                     18  ...                0.483696           21

[5 rows x 11 columns]

In [0]:
tids = test['Accident_ID']
test.drop(['Accident_ID'],axis=1,inplace=True)

KeyError: ignored

In [0]:
test.head()

   Safety_Score  Days_Since_Inspection  ...  Violations  Adverse_Weather_Metric
0     19.497717                     16  ...           2                0.069692
1     58.173516                     15  ...           2                0.002777
2     33.287671                     15  ...           1                0.004316
3      3.287671                     21  ...           2                0.199990
4     10.867580                     18  ...           2                0.483696

[5 rows x 10 columns]

In [0]:
out1 = m2.predict(test)

In [0]:
out1

array([0, 2, 3, ..., 3, 3, 0])

In [0]:
out1 = pd.DataFrame(out1)

In [0]:
out1.head()

   0
0  0
1  2
2  3
3  0
4  2

In [0]:
out1 = out1[0].apply(lambda x : mapdic[x])

In [0]:
out1 = pd.DataFrame(out1)

In [0]:
out1.head()

                                         0
0                Highly_Fatal_And_Damaging
1        Significant_Damage_And_Fatalities
2  Significant_Damage_And_Serious_Injuries
3                Highly_Fatal_And_Damaging
4        Significant_Damage_And_Fatalities

In [0]:
out1 = out1.rename(columns={0:'Severity'})

In [0]:
d = {'Accident_ID':tids,'Severity':out1['Severity']}

o1 = pd.DataFrame(d)

In [0]:
o1.head()

   Accident_ID                                 Severity
0            1                Highly_Fatal_And_Damaging
1           10        Significant_Damage_And_Fatalities
2           14  Significant_Damage_And_Serious_Injuries
3           17                Highly_Fatal_And_Damaging
4           21        Significant_Damage_And_Fatalities

In [0]:
o1.to_csv('/content/drive/My Drive/airplane/submission11.csv')

In [0]:
out2 = m2.predict(test)

In [0]:
out2

array([0, 2, 3, ..., 3, 3, 0])

In [0]:
out2 = pd.DataFrame(out2)

In [0]:
out2.head()

   0
0  0
1  2
2  3
3  0
4  2

In [0]:
out2 = pd.DataFrame(out2[0].apply(lambda x: mapdic[x]))

In [0]:
out2.head()

                                         0
0                Highly_Fatal_And_Damaging
1        Significant_Damage_And_Fatalities
2  Significant_Damage_And_Serious_Injuries
3                Highly_Fatal_And_Damaging
4        Significant_Damage_And_Fatalities

In [0]:
d2 = {'Accident_ID':tids,'Severity':out2[0]}

o2 = pd.DataFrame(d2)

In [0]:
o2.head()

   Accident_ID                                 Severity
0            1                Highly_Fatal_And_Damaging
1           10        Significant_Damage_And_Fatalities
2           14  Significant_Damage_And_Serious_Injuries
3           17                Highly_Fatal_And_Damaging
4           21        Significant_Damage_And_Fatalities

In [0]:
o2.to_csv('/content/drive/My Drive/airplane/submission2.csv')

In [0]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=1000,
                             n_jobs=5)



clf.fit(xtrain,ytrain)
predrf = clf.predict(xvalid)
print(accuracy_score(predrf,yvalid,normalize=True))

0.923

In [0]:
out3 = clf.predict(test)

In [0]:
out3 = pd.DataFrame(out3)
out3.head()

   0
0  0
1  2
2  3
3  0
4  2

In [0]:
out3[0] = out3[0].apply(lambda x : mapdic[x])

In [0]:
d3 = {'Accident_ID':tids,'Severity':out3[0]}
o3 = pd.DataFrame(d3)

In [0]:
o3.head()

   Accident_ID                                 Severity
0            1                Highly_Fatal_And_Damaging
1           10        Significant_Damage_And_Fatalities
2           14  Significant_Damage_And_Serious_Injuries
3           17                Highly_Fatal_And_Damaging
4           21        Significant_Damage_And_Fatalities

In [0]:
o3.to_csv('/content/drive/My Drive/airplane/submission3.csv')

In [0]:
ytrain

array([1, 3, 0, ..., 3, 0, 1])

In [0]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()


xtrain = sc.fit_transform(xtrain)

In [0]:
xtrain

array([[-0.69710531,  1.72096061, -0.80165668, ...,  0.2601889 ,
        -0.97269409, -0.60660101],
       [ 0.3746196 , -0.54122882,  0.34792942, ...,  0.10806358,
        -0.01022622, -0.64680693],
       [-0.6574118 , -0.25845514,  0.7790242 , ..., -0.9662287 ,
        -0.97269409, -0.55714007],
       ...,
       [-0.64890605,  0.87263957, -0.37056189, ...,  0.04533125,
        -0.97269409,  2.44805498],
       [-1.41442384,  0.87263957, -0.22686363, ..., -0.18147346,
         0.95224165,  2.24768935],
       [ 0.43699513,  0.30709222, -0.08316537, ...,  0.68226723,
        -1.93516196, -0.59918233]])

In [0]:
ny = np_utils.to_categorical(target)

In [0]:
ny

array([[0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]], dtype=float32)

In [0]:
nxtrain,nxvalid,nytrain,nyvalid = train_test_split(df,ny,test_size=0.1,random_state=0)

In [0]:
scc = StandardScaler()
nxtrain = scc.fit_transform(nxtrain)
nxvalid = scc.transform(nxvalid)

In [0]:



input_dim = len(df.columns.to_list())

nn = Sequential()
nn.add(Dense(10,input_dim=input_dim,activation='relu'))
nn.add(Dense(100,activation='relu'))
nn.add(Dense(75,activation='relu'))
nn.add(Dense(60,activation='relu'))
nn.add(Dense(50,activation='relu'))
nn.add(Dense(38,activation='relu'))
nn.add(Dense(25,activation='relu'))
nn.add(Dense(15,activation='relu'))
nn.add(Dense(8,activation='relu'))
nn.add(Dense(4,activation='softmax'))

nn.compile(loss = 'categorical_crossentropy' , optimizer = 'adam' , metrics = ['accuracy'] )

nn.fit(nxtrain,nytrain,epochs=100,batch_size=5)

scores = nn.evaluate(nxvalid,nyvalid)
print("\n%s: %.2f%%" % (nn.metrics_names[1], scores[1]*100))

Epoch 1/100
9000/9000 [==============================] - 6s 655us/step - loss: 0.9365 - acc: 0.5803
Epoch 2/100
9000/9000 [==============================] - 4s 445us/step - loss: 0.3714 - acc: 0.8603
Epoch 3/100
9000/9000 [==============================] - 4s 462us/step - loss: 0.2626 - acc: 0.9154
Epoch 4/100
9000/9000 [==============================] - 4s 492us/step - loss: 0.2438 - acc: 0.9277
Epoch 5/100
9000/9000 [==============================] - 4s 487us/step - loss: 0.2312 - acc: 0.9277
Epoch 6/100
9000/9000 [==============================] - 4s 437us/step - loss: 0.2145 - acc: 0.9333
Epoch 7/100
9000/9000 [==============================] - 4s 440us/step - loss: 0.2108 - acc: 0.9360
Epoch 8/100
9000/9000 [==============================] - 4s 452us/step - loss: 0.1991 - acc: 0.9373
Epoch 9/100
9000/9000 [==============================] - 4s 437us/step - loss: 0.2015 - acc: 0.9369
Epoch 10/100
9000/9000 [==============================] - 4s 426us/step - loss: 0.1942 - acc: 0.9390
Epoch 11/100
9000/9000 [==============================] - 4s 456us/step - loss: 0.1946 - acc: 0.9389
Epoch 12/100
9000/9000 [==============================] - 4s 432us/step - loss: 0.1894 - acc: 0.9412
Epoch 13/100
9000/9000 [==============================] - 4s 428us/step - loss: 0.1866 - acc: 0.9420
Epoch 14/100
9000/9000 [==============================] - 4s 435us/step - loss: 0.1811 - acc: 0.9419
Epoch 15/100
9000/9000 [==============================] - 4s 430us/step - loss: 0.1828 - acc: 0.9427
Epoch 16/100
9000/9000 [==============================] - 4s 427us/step - loss: 0.1768 - acc: 0.9451
Epoch 17/100
9000/9000 [==============================] - 4s 431us/step - loss: 0.1750 - acc: 0.9438
Epoch 18/100
9000/9000 [==============================] - 4s 420us/step - loss: 0.1743 - acc: 0.9436
Epoch 19/100
9000/9000 [==============================] - 4s 430us/step - loss: 0.1667 - acc: 0.9476
Epoch 20/100
9000/9000 [==============================] - 4s 428us/step - loss: 0.1706 - acc: 0.9440
Epoch 21/100
9000/9000 [==============================] - 4s 425us/step - loss: 0.1660 - acc: 0.9467
Epoch 22/100
9000/9000 [==============================] - 4s 436us/step - loss: 0.1678 - acc: 0.9461
Epoch 23/100
9000/9000 [==============================] - 4s 421us/step - loss: 0.1612 - acc: 0.9486
Epoch 24/100
9000/9000 [==============================] - 4s 420us/step - loss: 0.1633 - acc: 0.9456
Epoch 25/100
9000/9000 [==============================] - 4s 428us/step - loss: 0.1581 - acc: 0.9483
Epoch 26/100
9000/9000 [==============================] - 4s 423us/step - loss: 0.1652 - acc: 0.9469
Epoch 27/100
9000/9000 [==============================] - 4s 440us/step - loss: 0.1552 - acc: 0.9499
Epoch 28/100
9000/9000 [==============================] - 4s 435us/step - loss: 0.1527 - acc: 0.9496
Epoch 29/100
9000/9000 [==============================] - 4s 417us/step - loss: 0.1504 - acc: 0.9497
Epoch 30/100
9000/9000 [==============================] - 4s 418us/step - loss: 0.1483 - acc: 0.9507
Epoch 31/100
9000/9000 [==============================] - 4s 436us/step - loss: 0.1488 - acc: 0.9510
Epoch 32/100
9000/9000 [==============================] - 4s 440us/step - loss: 0.1477 - acc: 0.9523
Epoch 33/100
9000/9000 [==============================] - 4s 414us/step - loss: 0.1528 - acc: 0.9491
Epoch 34/100
9000/9000 [==============================] - 4s 425us/step - loss: 0.1435 - acc: 0.9503
Epoch 35/100
9000/9000 [==============================] - 4s 471us/step - loss: 0.1397 - acc: 0.9527
Epoch 36/100
9000/9000 [==============================] - 4s 446us/step - loss: 0.1482 - acc: 0.9490
Epoch 37/100
9000/9000 [==============================] - 4s 433us/step - loss: 0.1418 - acc: 0.9518
Epoch 38/100
9000/9000 [==============================] - 4s 442us/step - loss: 0.1420 - acc: 0.9504
Epoch 39/100
9000/9000 [==============================] - 4s 420us/step - loss: 0.1414 - acc: 0.9518
Epoch 40/100
9000/9000 [==============================] - 4s 448us/step - loss: 0.1375 - acc: 0.9539
Epoch 41/100
9000/9000 [==============================] - 4s 449us/step - loss: 0.1423 - acc: 0.9522
Epoch 42/100
9000/9000 [==============================] - 4s 468us/step - loss: 0.1319 - acc: 0.9546
Epoch 43/100
9000/9000 [==============================] - 4s 448us/step - loss: 0.1385 - acc: 0.9519
Epoch 44/100
9000/9000 [==============================] - 4s 443us/step - loss: 0.1374 - acc: 0.9551
Epoch 45/100
9000/9000 [==============================] - 4s 432us/step - loss: 0.1326 - acc: 0.9534
Epoch 46/100
9000/9000 [==============================] - 4s 451us/step - loss: 0.1336 - acc: 0.9549
Epoch 47/100
9000/9000 [==============================] - 4s 460us/step - loss: 0.1323 - acc: 0.9536
Epoch 48/100
9000/9000 [==============================] - 4s 422us/step - loss: 0.1301 - acc: 0.9549
Epoch 49/100
9000/9000 [==============================] - 4s 448us/step - loss: 0.1347 - acc: 0.9531
Epoch 50/100
9000/9000 [==============================] - 4s 462us/step - loss: 0.1275 - acc: 0.9569
Epoch 51/100
9000/9000 [==============================] - 4s 451us/step - loss: 0.1278 - acc: 0.9549
Epoch 52/100
9000/9000 [==============================] - 4s 461us/step - loss: 0.1245 - acc: 0.9570
Epoch 53/100
9000/9000 [==============================] - 4s 474us/step - loss: 0.1279 - acc: 0.9569
Epoch 54/100
9000/9000 [==============================] - 4s 463us/step - loss: 0.1271 - acc: 0.9549
Epoch 55/100
9000/9000 [==============================] - 4s 464us/step - loss: 0.1282 - acc: 0.9548
Epoch 56/100
9000/9000 [==============================] - 4s 441us/step - loss: 0.1258 - acc: 0.9567
Epoch 57/100
9000/9000 [==============================] - 4s 471us/step - loss: 0.1245 - acc: 0.9577
Epoch 58/100
9000/9000 [==============================] - 4s 445us/step - loss: 0.1217 - acc: 0.9590
Epoch 59/100
9000/9000 [==============================] - 4s 443us/step - loss: 0.1175 - acc: 0.9588
Epoch 60/100
9000/9000 [==============================] - 4s 437us/step - loss: 0.1254 - acc: 0.9563
Epoch 61/100
9000/9000 [==============================] - 4s 451us/step - loss: 0.1241 - acc: 0.9557
Epoch 62/100
9000/9000 [==============================] - 4s 452us/step - loss: 0.1225 - acc: 0.9576
Epoch 63/100
9000/9000 [==============================] - 4s 429us/step - loss: 0.1224 - acc: 0.9557
Epoch 64/100
9000/9000 [==============================] - 4s 442us/step - loss: 0.1127 - acc: 0.9613
Epoch 65/100
9000/9000 [==============================] - 4s 445us/step - loss: 0.1184 - acc: 0.9592
Epoch 66/100
9000/9000 [==============================] - 4s 439us/step - loss: 0.1216 - acc: 0.9601
Epoch 67/100
9000/9000 [==============================] - 4s 440us/step - loss: 0.1130 - acc: 0.9573
Epoch 68/100
9000/9000 [==============================] - 4s 438us/step - loss: 0.1159 - acc: 0.9593
Epoch 69/100
9000/9000 [==============================] - 4s 423us/step - loss: 0.1192 - acc: 0.9588
Epoch 70/100
9000/9000 [==============================] - 4s 440us/step - loss: 0.1228 - acc: 0.9581
Epoch 71/100
9000/9000 [==============================] - 4s 441us/step - loss: 0.1150 - acc: 0.9601
Epoch 72/100
9000/9000 [==============================] - 4s 467us/step - loss: 0.1116 - acc: 0.9620
Epoch 73/100
9000/9000 [==============================] - 4s 458us/step - loss: 0.1145 - acc: 0.9603
Epoch 74/100
9000/9000 [==============================] - 4s 469us/step - loss: 0.1091 - acc: 0.9624
Epoch 75/100
9000/9000 [==============================] - 4s 480us/step - loss: 0.1160 - acc: 0.9591
Epoch 76/100
9000/9000 [==============================] - 4s 446us/step - loss: 0.1091 - acc: 0.9611
Epoch 77/100
9000/9000 [==============================] - 4s 449us/step - loss: 0.1090 - acc: 0.9597
Epoch 78/100
9000/9000 [==============================] - 4s 429us/step - loss: 0.1132 - acc: 0.9594
Epoch 79/100
9000/9000 [==============================] - 4s 443us/step - loss: 0.1117 - acc: 0.9584
Epoch 80/100
9000/9000 [==============================] - 4s 441us/step - loss: 0.1128 - acc: 0.9607
Epoch 81/100
9000/9000 [==============================] - 4s 440us/step - loss: 0.1111 - acc: 0.9619
Epoch 82/100
9000/9000 [==============================] - 4s 469us/step - loss: 0.1113 - acc: 0.9629
Epoch 83/100
9000/9000 [==============================] - 4s 466us/step - loss: 0.1096 - acc: 0.9622
Epoch 84/100
9000/9000 [==============================] - 4s 422us/step - loss: 0.1025 - acc: 0.9642
Epoch 85/100
9000/9000 [==============================] - 4s 431us/step - loss: 0.1043 - acc: 0.9626
Epoch 86/100
9000/9000 [==============================] - 4s 433us/step - loss: 0.1149 - acc: 0.9598
Epoch 87/100
9000/9000 [==============================] - 4s 448us/step - loss: 0.1161 - acc: 0.9583
Epoch 88/100
9000/9000 [==============================] - 4s 434us/step - loss: 0.1017 - acc: 0.9622
Epoch 89/100
9000/9000 [==============================] - 4s 414us/step - loss: 0.1064 - acc: 0.9632
Epoch 90/100
9000/9000 [==============================] - 4s 417us/step - loss: 0.1088 - acc: 0.9611
Epoch 91/100
9000/9000 [==============================] - 4s 437us/step - loss: 0.1034 - acc: 0.9649
Epoch 92/100
9000/9000 [==============================] - 4s 431us/step - loss: 0.1048 - acc: 0.9609
Epoch 93/100
9000/9000 [==============================] - 4s 415us/step - loss: 0.0973 - acc: 0.9643
Epoch 94/100
9000/9000 [==============================] - 4s 422us/step - loss: 0.1038 - acc: 0.9622
Epoch 95/100
9000/9000 [==============================] - 4s 434us/step - loss: 0.1088 - acc: 0.9629
Epoch 96/100
9000/9000 [==============================] - 4s 429us/step - loss: 0.1062 - acc: 0.9657
Epoch 97/100
9000/9000 [==============================] - 4s 426us/step - loss: 0.1057 - acc: 0.9636
Epoch 98/100
9000/9000 [==============================] - 4s 427us/step - loss: 0.1031 - acc: 0.9646
Epoch 99/100
9000/9000 [==============================] - 4s 425us/step - loss: 0.0943 - acc: 0.9669
Epoch 100/100
9000/9000 [==============================] - 4s 433us/step - loss: 0.0998 - acc: 0.9651
1000/1000 [==============================] - 1s 682us/step

acc: 93.60%

In [0]:
test = pd.read_csv('/content/drive/My Drive/airplane/test.csv')

test.head()

   Safety_Score  Days_Since_Inspection  ...  Adverse_Weather_Metric  Accident_ID
0     19.497717                     16  ...                0.069692            1
1     58.173516                     15  ...                0.002777           10
2     33.287671                     15  ...                0.004316           14
3      3.287671                     21  ...                0.199990           17
4     10.867580                     18  ...                0.483696           21

[5 rows x 11 columns]

In [0]:
test.drop(['Accident_ID'],axis=1,inplace=True)

In [0]:
test.head()

   Safety_Score  Days_Since_Inspection  ...  Violations  Adverse_Weather_Metric
0     19.497717                     16  ...           2                0.069692
1     58.173516                     15  ...           2                0.002777
2     33.287671                     15  ...           1                0.004316
3      3.287671                     21  ...           2                0.199990
4     10.867580                     18  ...           2                0.483696

[5 rows x 10 columns]

In [0]:
nxtest = scc.transform(test)

In [0]:
nxtest

array([[-1.38732458,  0.86810876, -0.08043718, ...,  0.63363525,
        -0.01135143, -0.48703603],
       [ 1.0042925 ,  0.58572554, -0.51194997, ..., -0.18567029,
        -0.01135143, -0.66236478],
       [-0.53458744,  0.58572554, -0.51194997, ..., -1.51916925,
        -0.97515237, -0.65833236],
       ...,
       [-0.32281497,  0.30334233,  0.4949132 , ...,  0.49907716,
        -0.01135143, -0.64703272],
       [-0.19857512,  0.02095911,  1.07026359, ..., -0.8178201 ,
        -0.97515237, -0.65327511],
       [-0.36234583, -0.54380732, -0.79962516, ...,  0.41921074,
        -1.93895331, -0.6056862 ]])

In [0]:
predictions = nn.predict_classes(nxtest)
prediction_ = np.argmax(to_categorical(predictions), axis = 1)
prediction_ = le.inverse_transform(prediction_)

In [0]:
prediction_

array(['Highly_Fatal_And_Damaging', 'Significant_Damage_And_Fatalities',
       'Significant_Damage_And_Serious_Injuries', ...,
       'Significant_Damage_And_Serious_Injuries',
       'Significant_Damage_And_Serious_Injuries',
       'Highly_Fatal_And_Damaging'], dtype=object)

In [0]:
d4 = {'Accident_ID':tids,'Severity':prediction_}

out4 = pd.DataFrame(d4)

In [0]:
out4

      Accident_ID                                 Severity
0               1                Highly_Fatal_And_Damaging
1              10        Significant_Damage_And_Fatalities
2              14  Significant_Damage_And_Serious_Injuries
3              17                Highly_Fatal_And_Damaging
4              21        Significant_Damage_And_Fatalities
...           ...                                      ...
2495        12484                Minor_Damage_And_Injuries
2496        12487  Significant_Damage_And_Serious_Injuries
2497        12488  Significant_Damage_And_Serious_Injuries
2498        12491  Significant_Damage_And_Serious_Injuries
2499        12493                Highly_Fatal_And_Damaging

[2500 rows x 2 columns]

In [0]:
out4.to_csv('/content/drive/My Drive/airplane/submission4.csv')